# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example
!.env.production.example
.env.production

# prisma
apps/api/prisma/*.db

# logs
logs/
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
.cursor/

# docker volumes
.docker-data/

# coverage
coverage/
